<footer>
    <p>Social media icons by <a href="https://www.freepik.com/free-vector/social-media-logo-collection_3966121.htm#query=contact&position=11&from_view=search&track=sph&uuid=dd04b370-6553-48a0-9b9f-14e4404e4cd1">Freepik</a></p>
    <p><a href="https://www.freepik.com/free-vector/social-media-icons-vector-set-with-facebook-instagram-twitter-tiktok-youtube-logos_17221200.htm#query=social&position=0&from_view=search&track=sph&uuid=41e6b1e0-9786-43d9-a0e7-212c60458760">Contact icons by rawpixel.com</a> on Freepik</p>
</footer>
